*{
    margin:0;
    padding:0
}
body{
    font-family: 'Roboto', sans-serif;
    background:gainsboro;
}

a{
    cursor: pointer;
    text-decoration: none;
}

#btn-1{
    color:white;
    padding: 5px 10px;
}

#btn-1:hover{
    border-bottom: 3px darkred solid;
    transition: all 0.2s ease-in-out;
}

#btn-2{
    color:white;
}

#btn-2:hover{
    color:darkred;
    transition: all 0.2s ease-in-out;
}

#btn-3{
    padding:10px 7px;
    background:darkred;
    color:white;
}

#btn-3:hover{
    color:darkred;
    background:black;
    transition:all 0.2s ease-in-out;
}

#btn-4{
    color:black;
}

#btn-4:hover{
    color: darkred;
    transition:all 0.2s ease-in-out;
}

#form-btn{
    width:80%;
}

span{
    color:darkred;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    color:white;
}

.header{
    background: black;
    color:white;
    width: 100%;
    height: 65px;
}

.header h1{
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
}

.list-container{
    font-size:20px;
    display:flex;
    align-items: center;
    height:100%;
    width:100%;
}

#title{
    font-size:50px;
    color:white;
    font-family: 'Bebas Neue', cursive;
}



.header .list-container ul{
    padding: 0 20px;
    display:grid;
    width:100%;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.header .list-container ul li{
    font-weight: bold;
}

@media (min-width:500px) and (max-width:650px){
    .desktop{
        font-size:15px;
    }
    #title{
        font-size: 30px;
    }

    .header .list-container ul{
        display:grid;
        grid-template-rows: 1fr;
    }

    .header{

        background: black;
        color:white;
        width: 100%;
        height: 100%;
    }

}

@media (max-width:499px) {
    .desktop{
        display:none;
    }
    
    #title{
        font-size: 30px;
    }

    .header .list-container ul{
        display:grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }

    .header{

        background: black;
        color:white;
        width: 100%;
        height: 100%;
    }

}

.page-container{
    align-items: center;
    justify-content: center;
    display:flex;
    height:100%;
    width:100%;
}

.contact-container{
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width:80%;
}

.contact-container #contact_info{
    padding:20px;
}

.contact-container #contact_info h1{
    font-size:50px;
    color:black;
    font-family: 'Bebas Neue', cursive;
}

#contact_info hr{
    width:50%;
}

.info{
    padding:20px 0;
}

#contact_form{
    align-items: center;
    justify-content: center;
    width:500px;
    height:400px;
    overflow: none;
}

.contact-container #contact_form .message{
    display:block;
    font-size: 15px;
    width:80%;
    height:90px;
    padding:10px;
    background:lightgrey;
    border:none;
    border-radius: 10px;
}

.contact-container #contact_form .field{
   font-size: 15px;
   background: lightgray;
   border-radius: 10px;
   border:none;
   display:block;
   padding:0 10px;
   width:80%;
   height:20px;
}

#form-btn{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    border:none;
    padding:0px;
    border-radius: 20px;
    color:linen;
    background: darkred;
}



.contact-container #contact_form h1{
    font-size: 50px;
}


.input{
    padding:5px 0;
}

@media (max-width: 650px) {
    .contact-container{
        flex-direction: column-reverse;
        width:80%;
        padding:20px
    }

    .info{
        padding:10px 0;
    }
    
    #contact_form{
        display: flex;
        flex-direction: column;
        width:100%;
        height:100%;
        overflow: none;
    }

    .contact-container #contact_form .message{
        width:300px;
        padding:0;
        margin:0;
    }

    #form-btn{
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;
        border:none;
        padding:0px;
        border-radius: 20px;
        color:linen;
        background: darkred;
    }
    
    
    
    .contact-container #contact_form h1{
        font-size: 50px;
    }
    
    
    .input{
        padding:5px 0;
    }
}


.footer-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background:black;
    width:100%;
    height:500px;
}

.footer-section{
    display:flex;
    align-items: left;
    justify-content: center;
    text-align: left;
    color:white;
}

.footer-section ul{
    list-style: none;
}

.footer-section ul li{
    padding:20px 0;
    font-size: 15px;
}

@media (max-width:1000px){
    .footer-container{
        display:flex;
        flex-direction: column;
        height:100%;
        padding:20px 0;
    }
}